$bg: #fff;
$buttonColor: #f4e076;
$fontColor: #471f0c;

/*320px布局*/
html { 
  font-size: 100px;
}

body {
  margin: 0 auto !important;
  font: 12px/1.5;
  font-family: "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", 宋体, SimSun, sans-serif !important;
  font-size: 0.12rem;
  width: 100%;
  height: 100%;
  max-width: 5rem;
  max-height: 5rem;
  background-color: $bg;
  overflow: hidden;
}

@keyframes blbl {
    0% {
        opacity: 1;
        transform: scale(0.5, 0.5);
    }
    60% {
        // opacity: 0.5;
        transform: scale(1.5,1.5);
    }
    100% {
        opacity: 0;
        transform: scale(2, 2);
    }
}

.game-wrapper {
  .weixin-icon {
    margin: 0;
    display: none;
  }

  position: relative;

  .tap-pad {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    .cols {
      float: left;
      width: 33.3%;
      height: 100%;
      overflow: hidden;
      background-color: #cb1b0d;
      position: relative;

      &:nth-child(even) {
        background-color: #e6373e;
      }

      &:last-child {
        width: 33.4%
      }

      .btn {
        width: 0.2rem;
        height: 0.2rem;
        border-radius: 0.2rem;
        color: $fontColor;
        background-color: #fff;
        position: absolute;
        bottom: 0.4rem;
        left: 50%;
        margin-left: -0.1rem;
        animation: blbl 1.5s infinite linear;
      }
    }
  }

}

.game-wrapper .game-ui {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  &.down {
    position: static;
  }
  
  .score {
    font-weight: bold;
    color: $fontColor;
    margin: 0.03rem 0.03rem;
    font-size: 0.14rem;
    text-align: left;
    z-index: 1;
    position: absolute;
  }

  .intro {
    margin-top: 0.8rem;
    padding-top: 0.1rem;
    padding-bottom: 0.3rem;
    background-color: rgba(255,255,255,0.8);
    p {
      color: $fontColor;
      width: 2rem;
      margin: 0.1rem auto;
      text-align: left;
    }
    h1 {
      margin-bottom: 0.1rem;
      font-weight: 100;
      margin-top: 0;
      font-size: 0.3rem;
      color: $fontColor;
    }
    button {
      background: #e6373e;
      border-radius: 0.05rem;
      display: block;
      font-size: 0.3rem;
      margin: 0 auto;
      padding: 0.1rem;
      width: 2rem;
      color: #fff;
      border: none;
    }
  }
}




/* iphone 6 */
@media (min-device-width: 375px) and (max-device-width: 667px ) and (-webkit-min-device-pixel-ratio: 2 ){
    html { 
      font-size: 117.1875px;
    }
}

/* iphone6 plus */
@media (min-device-width: 414px ) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3 ){
    html { 
      font-size: 129.375px;
    }
}
