$bg: #fff;
$buttonColor: #185da8;

/*320px布局*/
html { 
  font-size: 100px;
}

body {
  margin: 0 auto !important;
  font: 12px/1.5;
  font-family: "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", 宋体, SimSun, sans-serif !important;
  font-size: 0.12rem;
  width: 100%;
  height: 100%;
  max-width: 5rem;
  background-color: $bg;
  overflow: hidden;
}

.game-wrapper {
  position: relative;

  .tap-pad {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    // &.down {
    //   z-index: -1;
    // }
    .cols {
      float: left;
      width: 33.3%;
      height: 100%;
      overflow: hidden;

      &:last-child {
        width: 33.4%
      }
      // &:nth-child(odd) {
      //   background: #000066;
      // }
      // &:nth-child(even) {
      //   background: #330066;
      // }
    }
  }

}

.game-wrapper .game-ui {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  h1 {
    font-weight: 100;
    margin-top: 1rem;
    font-size: 0.3rem;
    color: #fff;
  }
  button {
    background: $buttonColor;
    border-radius: 0.05rem;
    display: block;
    font-size: 0.3rem;
    margin: 0 auto;
    padding: 0.1rem;
    width: 2rem;
    color: #fff;
    border: none;
  }
  .score {
    font-weight: bold;
    color: #fff;
    margin: 0.03rem 0.03rem;
    font-size: 0.14rem;
    text-align: left;
    z-index: 1;
    position: absolute;
  }
}

/* iphone 6 */
@media (min-device-width: 375px) and (max-device-width: 667px ) and (-webkit-min-device-pixel-ratio: 2 ){
    html { 
      font-size: 117.1875px;
    }
}

/* iphone6 plus */
@media (min-device-width: 414px ) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3 ){
    html { 
      font-size: 129.375px;
    }
}
